*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,ul,li,p{
    text-decoration: none;
    padding: 0;
    margin: 0;
    list-style: none ;
}

a:focus, input:focus, button:focus, textarea:focus{
	outline: none;
}


.custom-btn {
	padding: 25px 40px;
	color: #fff;
	background-color: #005046;
	display: inline-block;
	font-size: 13px;
	line-height: 26px;
	font-weight: 600;
	text-transform: uppercase;
	border-radius: 0px 35px 35px 50px;
	transition: .3s;
}

.custom-btn:hover{
	color: #fff;
	background-color: #f8a683;
}


/* <!-- .header-area-code-start --> */
.header-area{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 90;
}
.main-manu ul li {
    display: inline-block;
    position: relative;
}
.main-manu ul li::before {
	position: absolute;
	content: "";
	bottom: -3px;
	left: 0;
	right: 0;
	margin: auto;
	width: 2px;
	height: 0px;
	background-color: #ba9377;
	transition: .3s;
    z-index: 999;
}
.main-manu ul li:hover::before {height: 20px;}
.main-manu ul li a {
	padding: 20px 23px;
	display: inline-block;
	color: #fff;
    transition: .3s;
}
.main-manu ul li:hover > a{
    color: #ba9377;
}

/* submanu-code-start */
.main-manu ul li .submanu {
	position: absolute;
	top: 120%;
	left: 0;
	width: 200px;
	background-color: #19665f;
	border-top: 3px solid #f8a683;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    z-index: 999;
}
.main-manu ul li:hover .submanu{
    top: 105%;
    opacity: 1;
    visibility: visible;
}
.main-manu ul li .submanu li::before{display: none;}

.main-manu ul li .submanu li {
	display: block;
	border-top: 1px solid aliceblue;
}
.main-manu ul li .submanu li .submanu{top: 0;left: 100%;}
.main-manu ul li .submanu li a {
	display: block;
	margin-left: 0;
	padding: 9px 19px;
    transition: .3s;
}

.main-manu ul li .submanu li:hover >a{
    color: #ba9377;
    padding-left: 15px;
}
/* submanu-code-start */


.header-right{
    display: flex;
}
.header-right p{
    color: #fff;
    font-weight: 600;
}
.header-right p img {
	margin-right: 20px;
}

.trigger-manu{
    display: block;
    padding: 12px;
	background: #fff;
	border-radius: 23px;
	margin-left: 30px;
}

.trigger-manu span {
	width: 16px;
	height: 2px;
	background: red;
	display: block;
	margin: 3px 0;
}

.trigger-manu span:nth-child(2) {
	width: 13px;
}
/* <!-- .header-area-code-end --> */



/* <!-- .banner-area-code-start --> */
.banner-area{
    width: 100%;
    min-height: 800px;
}


.slider-active .slick-dots {
    position: absolute;
    right: 40%;
    bottom: -40px;
}
.slider-active .slick-dots li {
    display: inline-block;
}
.slider-active .slick-dots li button {
    background: transparent;
    border: 0;
    color: #fff;
    margin-left: 44px;
    font-size: 22px;
}

.slider-active .slick-dots .slick-active >button {
	color: #f8a683;
}
.slider-active .slick-active{position: relative;transition: .3s;}
.slider-active .slick-active::before {
    position: absolute;
    content: "";
    bottom: -24px;
    right: 4px;
    width: 3px;
    height: 21px;
    background-color: #f8a683;
}

.banner-thumb img {
	width: 100%;
	border-radius: 33px 0px 0px 33px;
}
.banner-contents {
	padding-left: 80px;
}
.banner-contents span {
	font-size: 14px;
	color: #ff8300;
	font-weight: 600;
	margin-bottom: 15px;
}

.banner-contents h3 {
	font-size: 70px;
	line-height: 100%;
	color: #fff;
	font-weight: 600;
}


.banner-contents a{
    display: inline-block;
	padding: 30px 60px;
	margin-top: 60px;
	background-color: #fff;
	font-size: 18px;
	font-weight: 600;
	color: crimson;
	border-radius: 0px 0px 0px 55px;
}

/* <!-- .banner-area-code-end --> */


/* <!-- .features-area-code-start --> */
.features-area{
	border: 1px solid #ffff;
}

.border-bottom {
	border-bottom: sf;
	width: 100%;
	height: 2px;
	background: #fff;
}

.features-items {
	padding: 50px 0;
	display: inline-block;
}

.col-xl-4:nth-child(1) .features-wrapper{
	border-right: 1px solid #ffffff;
}

.col-xl-4:nth-child(2) .features-wrapper{
	border-right: 1px solid #ffffff;
}

.margin-top-class {
	margin-top: 115px;
}

.features-icon img {
	width: 60px;
}

.features-text {
	margin-left: 15px;
}
.features-text h3 {
	font-size: 30px;
	line-height: 36px;
	color: #005046;
	font-weight: 600;
}

.features-text p {
	font-size: 16px;
	line-height: 27px;
	margin: 0;
	color: #3b605d;
	font-weight: 600;
}
/* <!-- .features-area-code-end --> */



/* <!-- .about-area-code-start --> */
.about-area{position: relative;}

.about-bg-img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 300px;
}

.about-image{position: relative;}

.about-image img {
    max-width: 100%;
}
.about-content{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 255px;
	padding: 30px;
	border-radius: 0px 35px 0px 0px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.about-content h4{
	font-size: 30px;
	line-height: 36px;
	color: #005046;
	font-weight: 600;
	margin: 0;
}


.about-wrapper{position: relative; z-index: 999 ;}

.about-info-text-icon span{
	font-size: 18px;
	font-weight: 600;
	color: #005046;
}


.about-info-text-icon span::before{
	content: "\f00c";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	margin-right: 15px;
	color: #005046;
	padding: 5px;
	background-color: #ff8300;
	border-radius: 50%;
}

.about-btn a {
    padding: 22px 50px;
    display: inline-block;
    background: #005046;
    color: #fff;
    border-radius: 0px 60px;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
}
.about-author {
    margin-left: 28px;
}
.about-author img {
    width: 70px;
    height: 70px;
}

.ab-author {
    margin-left: 10px;
}
/* <!-- .about-area-code-end --> */


/* <!-- .service-area-code-start --> */
.section-tittle h3 {
	font-size: 50px;
	font-weight: 600;
	color: #005046;
	line-height: 60px;
	margin-bottom: 25px;
}
.section-tittle span {
	font-size: 30px;
	text-transform: uppercase;
	font-weight: 500;
	color: #848b8a;
}


.services-box{position: relative; overflow: hidden;}

.services-box::before {
	position: absolute;
	content: "";
	bottom: 0;
	left: 0;
	width: 0%;
	height: 100%;
	background-color: #f8a683;
	z-index: 1;
	opacity: 0;
	transition: .3s;
	visibility: hidden;
}
.services-box:hover::before{
	opacity: .8;
	visibility: visible;
	width: 100%;
 }

.service-img{position: relative;}

.service-img img {
	width: 100%;
}


.service-bottom-title{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	opacity: 1;
	transition: .3s;
}
.services-box:hover .service-bottom-title{ opacity: 0; left: -100px;}

.service-bottom-title h4{
	padding: 15px 30px;
	background: #056c5f;
	color: #fff;
	font-size: 28px;
	font-weight: 500;
	text-transform: capitalize;
	margin: 0;
}

.service-bottom-title i {
	position: absolute;
	bottom: 0;
	right: 0;
	height: 100%;
	padding: 15px 25px;
	background: #f8a683;
	color: #fff;
	font-size: 38px;
}

.services-content{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	text-align: center;
	z-index: 2;
	opacity: 0;
	visibility: hidden;
	transition: .3s;
}
.services-box:hover .services-content{
	opacity: 1;
	visibility: visible;
}

.services-content h4{
	font-size: 27px;
	color: #fff;
	line-height: 60px;
}

.services-content p {
	font-size: 16px;
	line-height: 27px;
	color: #fff;
	padding: 0 50px;
}

.sm-btn{
	padding: 20px 30px;
	display: inline-block;
	font-size: 16px;
	font-weight: 500;
	color: #115c52;
	background-color: #fff;
	border-radius: 0px 25px 15px;
	transition: .3s;
	text-transform: uppercase;
	margin-top: 20px ;
}
.sm-btn:hover{background-color: #ff8300; color: #fff;}
/* <!-- .service-area-code-end --> */




/* <!-- .dr-area-code-start --> */

.appiontment{
	position: relative;
}

.appiontment::before {
	position: absolute;
	content: "";
	top: 50px;
	left: 0;
	width: 100%;
	height: 795px;
	background-image: url(../img/dr-bg.jpg);
	z-index: -1;
}


.dr-img img {
	max-width: 100%;
}

.dr-content h2 {
	color: #005046;
	font-size: 50px;
	line-height: 50px;
	font-weight: 600;
	margin-bottom: 40px;
}

.dr-content h5 {
	color: #3b615e;
	font-size: 27px;
	line-height: 50px;
	font-weight: 500;
	margin-bottom: 40px;
}
.dr-content p {
	color: #848b8a;
	font-size: 16px;
	line-height: 27px;
	margin-bottom: 50px;
}

.sign-dr img {
	margin-left: 25px;
}



.appointment-box h3 {
	font-size: 50px;
	line-height: 26px;
	padding: 50px 60px;
	background: #056c5f;
	text-align: center;
	color: #fff;
	margin: 0;
}

.appointment-form {
	padding: 50px 40px;
	background: #f8a683;
}

.appointment-form input {
	width: 100%;
	height: 70px;
	margin-bottom: 15px;
	border: transparent;
	background: #f9b89c;
	padding-left: 21px;
	color: #fff;
	font-weight: bold;
}
.appointment-form textarea {
	width: 100%;
	height: 140px;
	padding-left: 20px;
	border: transparent;
	background: #f9b89c;
	padding-top: 20px;
	color: #ffff;
	font-weight: bold;
	margin-bottom: 10px;
}
.appointment-form button {
	width: 100%;
	padding: 30px 0;
	text-align: center;
	font-size: 16px;
	color: #fff;
	border: transparent;
	text-transform: uppercase;
	background-color: #056c5f;
}
 /* <!-- .dr-area-code-end --> */